<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event Management Website</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/event_details.css') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
      <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <!-- History button if logged in -->
        {% if userid %}
        <li class="nav-item">
            <a class="nav-link" href="/user_booking_history">History</a>
        </li>
        {% endif %}
        <!-- No register button if logged in -->
        {% if userid %} {% endif %}
        <!-- Login button if not logged in -->
        {% if not userid %}
        <a class="btn btn-primary ml-3" href="/login/">Login </a>
        {% endif %}
        <!-- Show username with log out button if logged in -->
        {% if userid %}
        <a class="btn btn-outline-primary ml-3" href="/logout">{{ userid }} Logout</a>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-with-bg-image">
    <h1><b>Events list</b></h1>
    <p>-Everything you want is here!!! - </p>
    <!-- If logged in, show create event button -->
    {% if userid %}
    <a class="btn btn-outline-primary ml-3" href="/create_event"><b>Create Event</b></a>
    {% endif %}
  </div>

  <!-- Event list -->
  <div class="container">
    <div class="row">
      {% for event in events %}
      <div class="col-md-4">
        <a href="{{ url_for('event_details', event_id=event.id) }}"> <!-- Link to event details page -->          <div class="card mb-4 box-shadow">
            <img class="card-img-top"
              src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Advantages_and_Disadvantages_of_artificial_intelligence.jpg"
              alt="Event 1">
            <div class="card-body">
              <h4 class="card-title">Title: {{ event.title }}</h4>
              <p class="card-text">Date: {{ event.date.strftime("%Y-%m-%d") }}</p>
              <p class="card-text">Time: {{ event.time.strftime("%H:%M") }}</p> <!-- Display the time -->
              <p class="card-text">Location: {{ event.location }}</p>
              <p class="card-text">Description: {{ event.description }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<!-- Footer -->
<footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <p>
      © 2023. Event Management Website.
      <br> All rights reserved.
    </p>
  </div>
</footer>

</html>
