<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Event Management Website</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom CSS -->
       <link rel="stylesheet" href="{{ url_for('static', filename='/event_creation_update.css') }}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand mr-auto btn btn-outline-primary" href="index_logged_in.html">COOK JOB</a>
                <ul class="navbar-nav flex-row ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_booking_history.html">History</a>
                    </li>
                </ul>
                <button class="btn btn-outline-primary ml-3">Account</button>
            </div>
        </nav>

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-with-bg-image">
            <h1><b>Event Creation/Update Page</b></h1>
            <p>- Please provide the details of your event: - </p>
        </div>

        <!-- Event details -->
        <div class="container">
        <form>

            <div class="form-group">
                <label for="event-image">Event Image:</label>
                <input type="file" class="form-control-file" id="event-image">
            </div>
            <div class="form-group">
                <label for="event-description">Event Description:</label>
                <textarea class="form-control" id="event-description" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="event-date">Event Date:</label>
                <input type="date" class="form-control" id="event-date">
            </div>
            <div class="form-group">
                <label for="event-time">Event Time:</label>
                <input type="time" class="form-control" id="event-time">
            </div>            
            <div class="form-group">
                <label for="event-location">Event Location:</label>
                <input type="text" class="form-control" id="event-location">
            </div>
            <div class="form-group">
                <label for="event-category">Event Category:</label>
                <select class="form-control" id="event-category">
                    <option value="" selected disabled>Please select category</option>
                    <option value="IT">IT</option>
                    <option value="Nursing">Nursing</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Arts">Arts</option>
                    <option value="Education">Education</option>
                    <option value="Business">Business</option>
                    <option value="Etc.">Etc.</option>
                </select>
            </div>
        <!-- Create/Update Event Button -->
            <div class="row mt-3 mb-5">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary">Create/Update Event</button>
                </div>
            </div>
        </form>
        </div>
        
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>

    <!-- Footer -->
    <footer class="py-4 bg-dark text-white">
        <div class="container text-center">
            <p>Copyright &copy; 2023.
                <br> Event Management Website.</p>
        </div>
    </footer>

</html>
