{% extends 'base.html' %}

{% block content %}

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-with-bg-image">
            <h1 class="display-4">Welcome to our <b>COOK JOB</b> Website</h1>
            <p class="lead">Browse our upcoming events and join us for an unforgettable experience.</p>
            <hr class="my-4">
            <p><b>Whether you're looking for a Nursing job, IT job, Engineering job etc. We have something for everyone.</b></p>
            <a class="btn btn-primary btn-lg" href="event_details.html" role="button">View Events</a>
        </div>

        <!-- Search bar -->
        <div class="row mt-3 mb-3">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for events">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Hot Events -->
        <div style="text-align: center;">
            <h2>Hot Events</h2>
        </div>

        <!-- Hot Events Event Cards -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>
                              
                        </div>
                        <div class="card-footer">
                            <span class="status-circle1"></span>
                            <small class="text-muted">Open</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>                        </div>
                        <div class="card-footer">
                            <span class="status-circle3"></span>
                            <small class="text-muted">Sold Out</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>                        </div>
                        <div class="card-footer">
                            <span class="status-circle1"></span>
                            <small class="text-muted">Open</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- More Hot Events Button -->
        <div class="row mt-3 mb-5">
            <div class="col-md-12 text-center">
                <button class="btn btn-outline-primary">More Hot Events</button>
            </div>
        </div>

        <!-- Upcoming Events -->
        <div style="text-align: center;">
            <h2>Upcoming Events</h2>
        </div>
        <!-- Upcoming Event Cards -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>                        </div>
                        <div class="card-footer">
                            <span class="status-circle1"></span>
                            <small class="text-muted">Open</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>                        </div>
                        <div class="card-footer">
                            <span class="status-circle1"></span>
                            <small class="text-muted">Open</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Event Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                            <a href="event_details.html">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>                        </div>
                        <div class="card-footer">
                            <span class="status-circle4"></span>
                            <small class="text-muted">Cancelled</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- More Events Button -->
        <div class="row mt-3 mb-5">
            <div class="col-md-12 text-center">
                <button class="btn btn-outline-primary">More Events</button>
            </div>
        </div>

        <!-- Advertisement -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5 mb-5">
                <h2>Advertise with us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed enim libero. Fusce aliquam, nisi quis vulputate efficitur, ipsum felis pharetra nunc, sit amet tempus velit dolor eu velit. Nam consectetur libero ut mi molestie, in auctor neque rhoncus. Proin ultricies libero non leo bibendum, ut pellentesque sapien luctus. Morbi mattis ante ut lectus rutrum blandit.</p>
                <button type="button" class="btn btn-primary mt-3 mb-5">Contact Us</button>
                </div>
            </div>
        </div>
            
    </body> 

 {% endblock %}

   
    
