.jumbotron-with-bg-image {
    height: 300px; /* Change the height to your desired value */
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url('https://media.istockphoto.com/id/1092170968/vector/open-book-with-history-doodles-and-lettering.jpg?s=612x612&w=0&k=20&c=SvXn0O25eHC8ARjwlcn83kahxjMGl2ti_DDFGozBKqg=');
    background-size: cover;
    background-position: center center;
    color: white;
}
.jumbotron-with-bg-image h1 {
    margin-left: 20px;
  }

.card-img-top {
    max-width: 100%;
    max-height: 190px;
}
