{% extends 'base.html' %}
{% block css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='/event_creation_update.css') }}">
{% endblock%}
{% block content %}

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events/">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_booking_history">History</a>
                </li>
            </ul>
            <!-- <button class="btn btn-outline-primary ml-3">Account</button> -->
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-with-bg-image">
        <h1><b>Event Creation</b></h1>
        <p>Please provide the details of your event: </p>
    </div>

    <!-- Event details -->
    <div class="container">


        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <h1 class="center">
                Edit Event: {{ event.title }}
            </h1>
            <br>
            <br>
            <div class="container center col-md-6">
                <div class="form-group">
                    <label for="category">Category: </label>
                    <select id="category" name="category" class="form-control center">
                        <option value="{{event.category}}">{{event.category}}</option>
                        <option value="IT">IT</option>
                        <option value="Nursing">Nursing</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Arts">Arts</option>
                        <option value="Education">Education</option>
                        <option value="Business">Business</option>
                    </select>
                </div>
                <label for="title">Title:</label>
                <input type="text" name="title" value={{ event.title }} placeholder="title" class="form-control center">
                </input>
                <label for="description">Description:</label>
                <textarea name="description" value={{ event.description }} placeholder="description"
                    class="form-control center">
                        </textarea>
                <div class="row">
                    <div class="container col-md-4 center">
                        <label for="date">Date:</label>
                        <input type="date" name="date" value={{ event.date }} placeholder="date" class="form-control">
                        </input>

                        <label for="time">Time:</label>
                        <input type="time" name="time" value={{ event.time }} placeholder="time" class="form-control">
                        </input>

                    </div>
                </div>
                <label for="address">Address:</label>
                <input type="text" name="address" value={{ event.address }} placeholder="address"
                    class="form-control center">
                </input>
                <label for="states">State:</label>

                <select id="states" name="states" class="form-control center">
                    <option value="{{event.states}}">{{event.states}}</option>
                    <option value="NSW">NSW</option>
                    <option value="NT">NT</option>
                    <option value="QLD">QLD</option>
                    <option value="SA">SA</option>
                    <option value="TA">TA</option>
                    <option value="VIC">VIC</option>
                    <option value="WA">WA</option>
                </select>
                <label for="student">Available Student Tickets:</label>
                <input type="number" name="student" value={{ event.student }} placeholder="student"
                    class="form-control center">
                </input>
                <label for="postgraduate">Available Postgraduate Tickets:</label>
                <input type="number" name="postgraduate" value={{ event.postgraduate }} placeholder="postgraduate"
                    class="form-control center">
                </input>
                </p>
                <p>
                    <label for="concession">Available Concession Tickets:</label>
                    <input type="number" name="concession" value={{ event.concession }} placeholder="concession"
                        class="form-control center">
                    </input>
                    <label for="status">Status:</label>
                    <select id="status" name="status" class="form-control center">
                        <option value="{{event.status}}">{{event.status}}</option>
                        <option value="Open">Open</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                    <br>
                <div class="container center col-md-4">
                    <form method="POST" action="{{ url_for('edit', event_id=event.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" value="Edit Event" class="btn btn-primary">
                    </form>
                </div>
        </form>
        <br>
        <br>
    </div>

    {% endblock%}