.jumbotron-with-bg-image {
    background-image: url('https://images.unsplash.com/photo-1618083707368-b3823daa2726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
    background-position: center center;
    color: black;
}

.center {
    text-align: center;
}