{% extends 'base.html' %}
{% block css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
{% endblock%}
{% block content %}

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
      <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <!-- History button if logged in -->
        {% if userid %}
        <li class="nav-item">
          <a class="nav-link" href="/user_booking_history">History</a>
        </li>
        {% endif %}
        <!-- Register button if not logged in -->
        {% if not userid %}
        <li class="nav-item">
          <a class="btn btn-outline-primary ml-3" href="/register">Register </a>
        </li>
        {% endif %}
        <!-- No register button if logged in -->
        {% if userid %}
        {% endif %}
        <!-- Login button if not logged in -->
        {% if not userid %}
        <li class="nav-item">
          <a class="btn btn-outline-primary ml-3" href="/login">Login</a>
        </li>
        {% endif %}
        <!-- Show username with log out button if logged in -->
        {% if userid %}
        <a class="btn btn-outline-primary ml-3" href="/logout">{{ userid }} Logout</a>
        {% endif %}
      </ul>
    </div>
  </nav>
  <br>
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
  <div class="alert alert-danger alert-dismissible fade show center" role="alert">
    <ul class="center">
      {%- for msg in errors %}
      <li>{{ msg }}</li>
      {% endfor -%}
    </ul>

  </div>
  {% endif %}
  {% endwith %}
  <br>

  <!-- Jumbotron -->
  <div class="jumbotron center">
    <h2 class="statuspara" id="{{ event.status }}"><b>{{ event.status }}</b></h2>
    <h1 class="display-4"> <b> {{ event.title }} </b></h1>


    <br>
    {% if event.image %}
    <img class="card-img-top" style="width:600px;" src="{{ url_for('static', filename=event.image) }}"
      alt="Event Image">
    {% else %}
    <img class="card-img-top" style="width:600px;" src="{{ url_for('static', filename='uploads/default_image.png') }}"
      alt="Default Image">
    {% endif %}
    <!-- NEED TO DO IMAGE -->
    <br>
    <br>
    <p class="lead"><b>Event Category:</b> {{ event.category }}</p>
    <p class="lead"><b>Description:</b></p>
    <p class="my-3">{{ event.description }}</p>
    <hr class="my-5">
    <p>Date: {{ event.date.strftime("%d-%m-%y") }}</p>
    <p>Time: {{ event.time}}</p>
    <p>Address: {{ event.address }}, {{ event.states }}</p>

  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <h2>Book Now</h2>
        <br>
        {% if not userid %}
        <h3>Please Login to Book Event</h3>
        {% endif %}
        {% if event.status == "Cancelled" or event.status == "SoldOut" or event.status == "Inactive" %}
        <h3>This event is {{ event.status }}.</h3>
        {% endif %}
        <br>
        {% if event.status == "Open" and userid %}
        <h3>Click Button Below to Create a Booking:</h3>
        <br>
        <a class="btn btn-primary center" href="{{ url_for('book', event_id=event.id) }}"><b>Book
            Event</b></a>
        </a>
        {% endif %}
      </div>


      <!-- Comments -->

      <div class="col-md-6">
        <h2>Comments</h2>
        {% if not userid or event.status == "Cancelled" %}
        <p>Please Login to Leave a Comment
        <p>
          {% endif %}
          <br>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Durian Lover</h5>
            <p class="card-text">This event was amazing last year! I had a great time and would definitely
              recommend it to others.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Sam Smith</h5>
            <p class="card-text">I thought the event was okay, but the time was too short.</p>
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="comment">Leave a Comment:</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary row mt-3 mb-5 float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
  {% endblock%}