<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event Management Website</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/event_details.css') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
      <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <!-- History button if logged in -->
        {% if userid %}
        <li class="nav-item">
          <a class="nav-link" href="/user_booking_history">History</a>
        </li>
        {% endif %}
        <!-- Register button if not logged in -->
        {% if not userid %}
        <li class="nav-item">
          <a class="btn btn-outline-primary ml-3" href="/register">Register </a>
        </li>
        {% endif %}
        <!-- No register button if logged in -->
        {% if userid %}
        {% endif %}
        <!-- Login button if not logged in -->
        {% if not userid %}
        <li class="nav-item">
          <a class="btn btn-outline-primary ml-3" href="/login">Login</a>
        </li>
        {% endif %}
        <!-- Show username with log out button if logged in -->
        {% if userid %}
        <a class="btn btn-outline-primary ml-3" href="/logout">{{ userid }} Logout</a>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-with-bg-image">
    <h1><b>Events list</b></h1>
    <p>-Everything you want is here!!! - </p>
    <!-- If logged in, show create event button -->
    {% if userid %}
    <a class="btn btn-outline-primary ml-3" href="/create_event"><b>Create Event</b></a>
    {% endif %}

  </div>
  <!-- Search bar -->
  <h2 class="center">Seach bar</h2>
  <div class="row mt-3 mb-3">
    <div class="col-md-6 offset-md-3">

      <form class="form-inline d-flex flex-nowrap" action="{{ url_for('event_search', events_id=events.id)}}">
        <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm" placeholder="Seach for event category or title">
        <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
      </form>
    </div>
  </div>
  <!-- Event list -->
  <div class="container">
    <div class="row">
      {% for event in events %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card center">
            <!-- <a href="{{ url_for('event_details', event_id=event.id) }}"> -->
            <!-- Link to event details page -->
            <img class="card-img-top">
            {% if event.image %}
            <img class="card-img-top" src="{{ url_for('static', filename=event.image) }}" alt="Event Image">
            {% else %}
            <img class="card-img-top" src="{{ url_for('static', filename='uploads/default_image.png') }}"
              alt="Default Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">Title: {{ event.title }}</h5>
              <p class="card-text">Category: {{ event.category }}</p>
              <p class="card-text">Date: {{ event.date.strftime("%Y-%m-%d") }}</p>
              <p class="card-text">Time: {{ event.time.strftime("%H:%M") }}</p>
              <p class="card-text">Address: {{ event.address }}, {{ event.states }}</p>
              <p class="card-text">created by: {{ event.user_id }}</p>

              <a href="{{ url_for('event_details', event_id=event.id) }}">
                <button type="button" class="btn btn-primary">View Details</button>
              </a>

              {% if userid == event.user_id %}
              <a class="btn btn-outline-primary ml-3" style="margin:20px;"
                href="{{ url_for('edit', event_id=event.id) }}"><b>Update/Cancel
                  Event</b></a>
              {% endif %}

              {% if userid == event.user_id %}
              <a class="btn btn-outline-primary ml-3 center" href="{{ url_for('delete', event_id=event.id) }}"
                onclick="return confirm('Are you sure you want to delete this entry?')"><b>Delete Event</b></a>
              </a>
              {% endif %}
            </div>
            <div class="card-footer" id="{{ event.status }}" style="margin-top:10px;">
              <small>Status: {{ event.status }}</small>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<!-- Footer -->
<!-- <footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <p>
      © 2023. Event Management Website.
      <br> All rights reserved.
    </p>
  </div>
</footer> -->

</html>