<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management Website</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <!-- History button if logged in -->
                {% if userid %}
                <li class="nav-item">
                    <a class="nav-link" href="/user_booking_history">History</a>
                </li>
                {% endif %}
                <!-- Register button if not logged in -->
                {% if not userid %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary ml-3" href="/register">Register </a>
                </li>
                {% endif %}
                <!-- No register button if logged in -->
                {% if userid %}
                {% endif %}
                <!-- Login button if not logged in -->
                {% if not userid %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary ml-3" href="/login">Login</a>
                </li>
                {% endif %}
                <!-- Show username with log out button if logged in -->
                {% if userid %}
                <a class="btn btn-outline-primary ml-3" href="/logout">{{ userid }} Logout</a>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-with-bg-image">
        <h1 class="display-4">Welcome to <b>COOK JOB</b> </h1>
        <p class="lead">Browse our upcoming events and join us for an unforgettable experience.</p>
        <hr class="my-4">
        <p><b>Whether you're looking for a job in Nursing, IT, Engineering, etc. We have something for YOU!</b></p>
    </div>

    Search bar
    <div class="row mt-3 mb-3">
        <div class="col-md-6 offset-md-3">
            
            <form class="form-inline d-flex flex-nowrap" action="{{ url_for('search', events_id=events.id)}}">
                <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
                <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
            </form>
        </div>
    </div>

    <!-- Search Category
    <div class="container center col-md-6">
        <div class="form-group">
            <p>
            <label for="category">Category: </label>
            <select id="category" name="category">
                <option value="IT">IT</option>
                <option value="Nursing">Nursing</option>
                <option value="Engineering">Engineering</option>
                <option value="Arts">Arts</option>
                <option value="Education">Education</option>
                <option value="Business">Business</option>
            </select>
            </p>
        </div>
    </div> -->


    <!-- Upcoming Events -->
    <h1 class="center pad">Upcoming Events</h1>
    <!-- Event list -->

    <div class="container">
        <div class="row">
            {% for event in events %}
            
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card center">
                        <!-- <a href="{{ url_for('event_details', event_id=event.id) }}"> -->
                        <!-- Link to event details page -->
                        <img class="card-img-top">
                        {% if event.image %}
                        <img class="card-img-top" src="{{ url_for('static', filename=event.image) }}" alt="Event Image">
                        {% else %}
                        <img class="card-img-top" src="{{ url_for('static', filename='uploads/default_image.png') }}"
                            alt="Default Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Title: {{ event.title }}</h5>
                            <p class="card-text">Category: {{ event.category }}</p>
                            <p class="card-text">Date: {{ event.date.strftime("%d-%m-%y") }}</p>
                            <p class="card-text">Time: {{ event.time.strftime("%H:%M") }}</p>
                            <p class="card-text">Address: {{ event.address }}, {{ event.states }}</p>

                            <a href="{{ url_for('event_details', event_id=event.id) }}">
                                <button type="button" class="btn btn-primary">View Details</button>
                            </a>
                        </div>
                        <div class="card-footer" id="{{ event.status }}">
                            <small>Status: {{ event.status }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container center homepad">
        <a href="{{ url_for('events')}}">
            <button type="button" class="btn btn-secondary">View More Events</button>
        </a>
    </div>

</body>

<!-- Footer -->
<footer class="py-4 bg-dark text-white">
    <div class="container text-center">
        <p>Copyright &copy; 2023.
            <br> Event Management Website.
        </p>
    </div>
</footer>

</html>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>