{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
{% endblock%}
{% block content %}

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mr-auto btn btn-outline-primary" href="/">COOK JOB</a>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <!-- History button if logged in -->
                {% if userid %}
                <li class="nav-item">
                    <a class="nav-link" href="/user_booking_history">History</a>
                </li>
                {% endif %}
                <!-- Register button if not logged in -->
                {% if not userid %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary ml-3" href="/register">Register </a>
                </li>
                {% endif %}
                <!-- No register button if logged in -->
                {% if userid %}
                {% endif %}
                <!-- Login button if not logged in -->
                {% if not userid %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary ml-3" href="/login">Login</a>
                </li>
                {% endif %}
                <!-- Show username with log out button if logged in -->
                {% if userid %}
                <a class="btn btn-outline-primary ml-3" href="/logout">{{ userid }} Logout</a>
                {% endif %}
            </ul>
        </div>
    </nav>
     <!-- Jumbotron -->
     <div class="jumbotron jumbotron-with-bg-image">
        <h1 class="display-4">Register</h1>
    </div>

    <div class="container">
        <div class="row mt-5">
            <h1>Please Register</h1>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST">
                    {{ form.csrf_token }}
                    <!-- UserId, Username, Password, Re-password boxes for register -->
                    <div class="form-group">
                        {{ form.userid.label('UserId') }}
                        {{ form.userid(class="form-control", placeholder="Userid")}}
                    </div>
                    <div class="form-group">
                        {{ form.username.label("Username") }}
                        {{ form.username(class="form-control", placeholder="Username") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label("Email") }}
                        {{ form.email(class="form-control", placeholder="Email") }}
                    </div>
                    <div class="form-group">
                        {{ form.phonenumber.label('Phone Number') }}
                        {{ form.phonenumber(class="form-control", placeholder="PhoneNumber")}}
                    </div>
                    <div class="form-group">
                        {{ form.address.label('Address') }}
                        {{ form.address(class="form-control", placeholder="Address")}}
                    </div>
                    <div class="form-group">
                        {{ form.password.label('Password') }}
                        {{ form.password(class="form-control", placeholder="Password") }}
                    </div>
                    <div class="form-group">
                        {{ form.re_password.label('Re-Password') }}
                        {{ form.re_password(class="form-control", placeholder="Re-Password")}}
                    </div>
                    <br>
                    <div>
                        <button style="margin-bottom:75px;" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock%}